
// Colors

$blue: #2196F3;
$cyan: #00BCD4;
$teal: #009688;
$green:#4CAF50;
$indigo:#3F51B5;
$orange: #FF5722;
$white: #fff;
$grey: #607D8B;
$black: #000;


// Fonts
$small: 16px;
$medium: 20px;
$big: 46px;

// Paddings

$large-padding: 10px 15px;
$big-padding: 20px 30px;


// Margenes

$default-margin-top: 30px;
$medium-margin-top: 60px;
$big-margin-top: 90px;

// Border Radius

$border-radius: 6px;

